@import url('./font.css');

html, *{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}

html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(52deg, rgba(15, 23, 24, 0.466) 100%, rgba(0,0,0,0.3253502084427521)), url(../IMG/home_page_min_2.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.contact{
    width: 80%;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 20px;
    margin-bottom: auto;
}

.form__contact{
    width: 30%;
    height: 609px;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
}

.information{
    width: 75%;
    height: 100%;
    color: #ffffff;
}

h1{
    font-size: 80px;
    color: #ffffff;
    margin-bottom: 50px;
}

h2{
    color: #142639;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 16px;
    border: none;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.589);
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color:#fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #142639;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color:  #142639;;}

input,textarea{
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif; 
    border: none;
    border-bottom: #142639 solid 1.5px;
    color: #142639;
}

#message{
    height: 100px;
}

.captcha{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 160px;
    padding: 10px;
    background-color: #142639;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif; 
    border: none;
    border-radius: 15px;
}

button img{
    width: 30px;
    height: 30px;
}

.info img{
    width: 20px;
    height: auto;
    margin-right: 20px;
}

.info{
    font-family: 'Open Sans', sans-serif; 
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.burguer{
    width: 50px;
    height: auto;
    display: none;
    cursor: pointer;
}

#bar1{
    float: right;
    width: 25px;
    height: 4px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 100px;
}

#bar2{  
    margin-top: 8px;
    float: right;
    width: 35px;
    height: 4px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 100px;
}

#logo_svg{
    width: 300px;
    height: auto;
    color: #ffffff;
    margin-bottom: 18px;
}

.menu_nav{
    width: 780px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     color: white;
     font-size: 20px;
}

.menu_nav_open{
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.918);
    width: 100%;
    height: 300px;
    top: 101px;
    padding: 30px 0 30px 0;
    transition: 0.5s;
}

.menu_nav p a{
    color: #ffffff;
     font-family: 'Open Sans', sans-serif; 
}



footer{
    width: 100%;
    min-height: 150px;
    max-height: auto;
    background-color: #142639;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
}

ul{
     margin-right: 60px;

}

a{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif; 
}

.logo{
    width: 200px;
    height: auto;
}


@media (max-width: 1350px){
        footer{
            position: static;
            margin-top: 30px;
        }
}

@media (max-height: 885px){
    .form__contact{
        height: 429px;
    }
}


@media (max-width: 1200px){
        section{
            width: 800px;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
        }
}

@media (max-width: 800px){
    section{
        width: 90%;
        height: 100%;
        
    }
}

@media (max-width: 800px){
        footer{
            flex-direction: column;
            padding-bottom: 50px;
        }

        ul{
            margin-top: 0;
            margin-right: 0;
            text-align: center;
        }
        li{
            padding-bottom: 10px;
        }
}



@media (max-width: 1100px) {
    
    nav{
        justify-content: space-between;

    }
    .burguer{
        display: block;
        margin-right: 30px;
    }
    .menu_nav{
        flex-direction: column-reverse;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.918);
        width: 100%;
        height: 200px;
        top: -264px;
        padding: 30px 0 30px 0;
        transition: 0.2s;
        z-index: 1;
    }
    .menu_nav_open{
        flex-direction: column-reverse;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.918);
        width: 100%;
        height: 300px;
        top: 101px;
        padding: 30px 0 30px 0;
        transition: 0.2s;
    }

    .block_contact{
        width: 100%;
    }
    body{
        height: 150vh;
    }
  }

  @media (max-width: 1000px){
        .block_contact{
            flex-direction: column;
            width: 100%;
        }
        section{
            width: 100%;
        }
        .block_1{
            width: 100%;
            
        }
  }

  @media (max-width: 375px){

    #logo_svg{
        margin-left: -14px;
        margin-top: 18px;
        width: 189px;
        height: auto;
    }
  }

@media (min-width: 376px) and (max-width: 645px){
   
    #logo_svg{
        margin-left: -14px;
        margin-top: 18px;                       
        width: 189px;
        height: auto;
    }

    .input_contact{
        width: 320px;
    }
}

@media (min-width: 320px) and (max-width: 645px){
   
    #logo_svg{
        margin-left: -14px;
        margin-top: 18px; 
        width: 189px;
        height: auto;
    }
    .block_2{
        margin-top: 50px;
    }

    .input_contact{
        width: 320px;
    }
}


@media (min-width: 320px) and (max-width: 1352px){

    .contact{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    html{
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }
    
    body{
        width: 100%;
        height: 100%;
        background-image: linear-gradient(52deg, rgba(15, 23, 24, 0.466) 100%, rgba(0,0,0,0.3253502084427521)), url(../IMG/home_page_min_2.webp);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
    }
    
    .form__contact{
        width: 70%;
        height: 609px;
        background-color: #ffffff;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .information{
        width: 100%;
        height: 100%;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    h1{
        font-size: 40px;
        color: #ffffff;
        margin-bottom: 50px;
    }
    
    h2{
        color: #142639;
    }
    
    input,textarea{
        width: 100%;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Open Sans', sans-serif; 
        border: none;
        border-bottom: #142639 solid 1.5px;
        color: #142639;
    }
    
    button{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 160px;
        padding: 10px;
        background-color: #142639;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif; 
        border: none;
        border-radius: 15px;
    }
    
    button img{
        width: 30px;
        height: 30px;
    }
    
    .info img{
        width: 20px;
        height: auto;
        margin-right: 20px;
    }
    
    .info{
        font-family: 'Open Sans', sans-serif; 
        display: flex;
        margin-bottom: 20px;
        align-items: center;
    }
    
}