@import url('./font.css');


html, *{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;

}

html{
  width: 100%;
  height: auto;
}

body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(52deg, rgba(31, 82, 87, 0.3) 100%, rgba(0,0,0,0.3253502084427521)), url(../IMG/home_page_min_2.webp);
    text-decoration: none;
    list-style: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

footer{
  width: 100%;
  min-height: 100px;
  max-height: auto;
  background-color: #142639;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  justify-content: space-around;
}

ul{
   margin-right: 60px;

}

a{
  color: #ffffff;
  font-family: 'Open Sans', sans-serif; 
}

.logo{
  width: 200px;
  height: auto;
}

@media (max-width: 800px){
      footer{
          flex-direction: column;
          padding-bottom: 50px;
          position: static;
      }

      ul{
          margin-top: 0;
          margin-right: 0;
          text-align: center;
      }
      li{
          padding-bottom: 10px;
      }
}




h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    color: #ffffff;
}



 /* Style the form */
 #regForm {
  background-color: #ffffff;
 
  
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;width: 100%;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.418);
  box-shadow: none;
  padding : 6px;
  font-size: 15px;
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
} 

.block_form p{
    margin-bottom: 10px;
}

 .section_form{
    border-radius: 15px;
    background-color: #ffffff;
    width: 1141px;
    height: 600px;
    margin: auto;
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.block_form,.block_slide{
    width: 50%;
    height: 100%;
   
}
.block_form{
  display: flex;
  align-items: center;
  justify-content: center;
}
h2{
  text-align: center;
  font-size: 30px;
  color: #142639;
  margin-bottom: 10px;
}

label{
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  color: #142639;
}

.btn1{
  margin-top: 10px;
  width: 100%;
  background-color: #142639;
  color: #ffffff;
  border: none;
  height: 45px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Playfair Display', serif;
}

.btn2{
  margin-top: 10px;
  margin-right: 20px;
  background-color: gray;
  color: #ffffff;
  width: 30%;
  border: none;
  height: 45px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Playfair Display', serif;
}

.btn-group{
  display: flex;
  margin-top: 20px;
}

.btn-group div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

select{
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.418);
  box-shadow: none;
  padding : 6px;
  font-size: 15px;
  margin-top: 5px;
}


.block_slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    width: 500px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 800px;
    height: 500px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    display: none;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    display: none;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
    display: none;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
    display: none;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
    display: none;
  }

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 20px;
  padding: 16px;
  border: none;
  font-family: 'Open Sans', sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.918);

  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
}

/* Links inside the dropdown */
.dropdown-content a {
  color:#fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Open Sans', sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #142639;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color:  #142639;;}

.captcha{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}


nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.burguer{
    width: 50px;
    height: auto;
    display: none;
    cursor: pointer;
}

#bar1{
    float: right;
    width: 25px;
    height: 4px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 100px;
}

#bar2{  
    margin-top: 8px;
    float: right;
    width: 35px;
    height: 4px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 100px;
}

#logo_svg{
    width: 300px;
    height: auto;
    color: #ffffff;
    margin-bottom: 18px;
}

.menu_nav{
    width: 780px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     color: white;
     font-size: 20px;
}

.menu_nav_open{
    flex-direction: column-reverse;
    position: absolute;
    background-color: rgba(19, 16, 16, 0.6);
    width: 100%;
    height: 200px;
    top: 101px;
    padding: 30px 0 30px 0;
    transition: 0.5s;
}

.menu_nav p a{
    color: #ffffff;
     font-family: 'Open Sans', sans-serif; 
}




@media (max-width: 1100px) {


    nav{
      justify-content: space-between;
    }

    .burguer{
        display: block;
        margin-right: 20px;
    }
    .menu_nav{
        flex-direction: column-reverse;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.918);
        width: 100%;
        height: 200px;
        top: -264px;
        padding: 30px 0 30px 0;
        transition: 0.2s;
    }
    .menu_nav_open{
        flex-direction: column-reverse;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.918);
        width: 100%;
        height: 300px;
        top: 101px;
        padding: 30px 0 30px 0;
        transition: 0.2s;
    }

  }

  @media (max-width: 375px){

    #logo_svg{
        margin-left: -14px;
        width: 189px;
        height: auto;
    }
    h1{
      font-size: 50px;
    }

    form{
      width: 80%;
    }
   
  }

@media (min-width: 376px) and (max-width: 645px){
   
    #logo_svg{
        margin-left: -14px;
        width: 189px;
        height: auto;
    }

    h1{
      font-size: 50px;
    }

  
  .block_form{
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
  }

  form{
    width: 80%;
  }
}

@media (max-width: 1141px){
  .block_slide{
    display: none;
  }

  .section_form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    
  }

  .block_form{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

}

@media (min-width: 320px) and (max-width: 378px){

    #regForm{
      width: 100%;
    }

    input{
      width: 100%;
      max-width: 300px;
      padding: 0;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    .block_form p{
      width: 100%;
    }
    .section_form{
      width: 90%;
      padding: 10px;
    }
}