@import url('./font.css');


html, *{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    height: 100%;
    width: 100%;
}

.header_about{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(52deg, rgba(0, 0, 0, 0.486) 100%, rgba(0,0,0,0.3253502084427521)), url(../IMG/home_page_min_2.webp);
    background-position:  center top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
   
    align-items: center;
}

.titre_about{
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    color: white;
    margin-top: 79px ;
}

nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.burguer{
    width: 50px;
    height: auto;
    display: none;
    cursor: pointer;
    
 
}

#bar1{
    float: right;
    width: 25px;
    height: 4px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 100px;
}

#bar2{  
    margin-top: 8px;
    float: right;
    width: 35px;
    height: 4px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 100px;
}

#logo_svg{
    width: 300px;
    height: auto;
    color: #ffffff;
    margin-bottom: 18px;
}

.menu_nav{
    width: 780px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     color: white;
     font-size: 20px;
}

.menu_nav_open{
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.74);
    width: 100%;
    height: 200px;
    top: 101px;
    padding: 30px 0 30px 0;
    transition: 0.2s;
}

.menu_nav p a{
    color: #ffffff;
     font-family: 'Open Sans', sans-serif; 
}


/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 16px;
    border: none;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.589);
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color:#fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #142639;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color:  #142639;;}



.group_h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar_subtitle{
    width: 200px;
    height: 1.5px;
    background-color: white;
    display: inline-block;
    border-radius: 100px;
}

.bar_subtitle2{
    width: 300px;
    height: 1.5px;
    background-color:#142639;
    display: inline-block;
    border-radius: 100px;
}

.section_about1{
    margin-top: 60px;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section_about1 h2{
    font-size: 34px;
    color: #142639;
}

.text1{
    margin-top: 50px;
    width: 660px;
    font-family: 'Open Sans', sans-serif; 
    color: #142639; 
}

.group_title2{
    margin-top: 50px;
    font-size: 45px;
    color: #142639;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
}

p{
    font-family: 'Open Sans', sans-serif; 
}

.img_about2{
    width: 500px;
    height: 700px;
    border-radius: 15px;
   display: inline-block;
   box-shadow: 0px 0px 7px #555;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.section_about2{
   margin-top: 230px;
}

.text2{
    width: 600px;
    margin-top: 160px;
}

.text2 div{
    margin-bottom: 60px;
    font-size: 15px;
}

.text2 div h2{
    margin-bottom: 30px;
}

.btn_contact{
    color: #142639;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    border: #142639  solid 2px ;
    padding: 8px 10px 8px 10px;
}

#logo_svg{
    width: 300px;
    height: auto;
    color: #ffffff;
    margin-bottom: 18px;
}

footer{
    width: 100%;
    min-height: 150px;
    max-height: auto;
    background-color: #142639 ;
    background-position:  center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 0;
    margin-top: 433px;
    justify-content: space-around;
    align-items: center;

}

footer ul a{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.logo{
    width: 200px;
    height: auto;
}



@media (max-width: 1100px) {
    
    .burguer{
        display: block;
        margin-right: 30px;
    }

    nav{
        justify-content: space-between;
    }

    .menu_nav{
        
        flex-direction: column-reverse;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.74);
        width: 100%;
        height: 200px;
        top: -264px;
        padding: 30px 0 30px 0;
        transition: 0.2s;
    }
    .menu_nav_open{
        flex-direction: column-reverse;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.74);
        width: 100%;
        height: 200px;
        top: 101px;
        padding: 30px 0 30px 0;
        transition: 0.2s;
    }
    .section_about1{
        flex-direction: column;
        margin-top: 200px;
    }

    .text1{
        margin-bottom: 50px;
        
    }
    .group_title2{
        margin-top: 186px;
        text-align: center
    }
    .img_about2{
        display: none;
    }


  }

  @media (max-width: 630px){
      footer{
          flex-direction: column;
          padding-bottom: 50px;
      }

      footer ul{
          text-align: center;
      }

      footer ul li{
          padding-bottom: 10px;
      }
  }

@media (max-width: 375px){

    #logo_svg{
        margin-left: -14px;
        width: 189px;
        height: auto;
        margin-top: 19px;
    }
    .div_section_1{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        
    }
    .section_about1{
        width: 100%;
        margin-top: 50px;
    }
    .text1{
        width: 90%;
        text-align: justify;
       font-size: 15px;
       
    }

    .text2{
        width: 100%;
        margin-top: 1100px;
    }

    .text2 div{
        padding: 20px;
    }

    .section_about1 img{
        width: 350px;
        height: auto;
    }

    .titre_about{
        font-size: 35px;
    }

    .group_title2{
        font-size: 14px;
        margin-bottom: 100px;
    }

    footer{
        margin-top: 1200px;
    }
    .btn_contact{
        margin-left: 100px;
    }

    .section_about1 h2{
        font-size: 25px;
        color: #142639;
    }
  }

@media (min-width: 376px) and (max-width: 645px){
   
    #logo_svg{
        margin-left: -14px;
        width: 189px;
        height: auto;
        margin-top: 19px;
    }
    .section_about1{
        width: 100%;
        margin-top: 50px;
    }
    .text1{
        width: 90%;
        text-align: justify;
       font-size: 15px;
       margin-top: 41px;
    }

    .div_section_1{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .text2{
        width: 100%;
        margin-top: 700px;
    }

    .text2 div{
        padding: 20px;
    }

    .section_about1 img{
        width: 350px;
        height: auto;
    }

    .titre_about{
        font-size: 35px;
    }

    .group_title2{
        font-size: 14px;
        margin-bottom: 100px;
    }

    footer{
        margin-top: 1017px;
    }
    .btn_contact{
        margin-left: 100px;
    }
}


@media (min-width: 646px) and (max-width: 1155px){

.group_title2 h2{
    font-size: 40px;
}

}

@media (min-width: 375px) and (max-width: 647px){

    .group_title2{
        margin-top: 55px;
    }

    .section_about1 h2{
        font-size: 23px;
    }
}





