@import url('./font.css');

html, *{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(52deg, rgba(31, 82, 87, 0.3) 100%, rgba(0,0,0,0.3253502084427521)), url(../IMG/home_page_min_2.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* CSS NAV */

nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.burguer{
    width: 50px;
    height: auto;
    display: none;
    cursor: pointer;
}

#bar1{
    
    float: right;
    width: 25px;
    height: 4px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 100px;
}

#bar2{  
    margin-top: 8px;
    float: right;
    width: 35px;
    height: 4px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 100px;
}

#logo_svg{
    width: 300px;
    height: auto;
    color: #ffffff;
    margin-bottom: 18px;
}

.menu_nav{
    width: 700px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     color: white;
     font-size: 20px;
}

.menu_nav_open{
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.918);
    width: 100%;
    height: 200px;
    top: 101px;
    padding: 30px 0 30px 0;
    transition: 0.2s;
}

.menu_nav p a{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif; 
}

/* CSS NAV */

.titre{
    margin-top: 266px;
    font-size: 100px;
    color: #ffffff;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Playfair Display', serif;
    line-height: 100%;
}

/* CSS MENU CONTINENT */

.menu_continent{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: -258px;
    transition: 0.2s;
}

.menu_continent_change{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    transition: 0.2s;
}

#list_continent{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background: rgba(255,255,255,0.2);
    width: 100%;
    height: 250px;
    border-radius: 140px 150px 0% 0%;
    padding-top: 8px;
}

#list_continent div p{
    text-align: center;
    color: #142639;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.continent_choix{
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
    height: 100%;
}

#btn_continent{
    width: 528px;
    height: 80px;
    text-align: center;
    background-color:rgba(255,255,255,.2);
    border-radius: 150px 150px 0% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

#btn_continent img{
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.rotate{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: 0.2s;
}

#btn_continent p{
font-family: 'Open Sans', sans-serif; 
color: #ffffff;
font-size: 23px;
text-transform: uppercase; 
font-weight: 200px;

}

/* CSS SLIDE LIBRAIRIE */

.swiper-container{
    display: none;
    width: 600px;
    height: 250px;
}

.swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.swiper-slide p:hover{
    color: #ffffff;
}

/* CSS SLIDE LIBRAIRIE */

/* CSS MENU CONTINENT */

@media (max-width: 1100px) {
    .continent_choix{
        display: none;
    }
    
    .lien_pays{
        display: none;
    }

    .swiper-container{
        display: flex;
    }

    .burguer{
        display: block;
        margin-right: 30px;
    }

    nav{
        justify-content: space-between;
    }

    .menu_nav{
        flex-direction: column;
        position: absolute;
        background-color: rgba(19, 16, 16, 0.35);
        width: 100%;
        height: 200px;
        top: -264px;
        padding: 30px 0 30px 0;
        transition: 0.5s;
    }

    .menu_nav_open{
        flex-direction: column;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.74);
        width: 100%;
        height: 200px;
        top: 101px;
        padding: 30px 0 30px 0;
        transition: 0.2s;
    }

    html{
        overflow-y: hidden;
        overflow-x: hidden;
    }
  }

  @media (max-width: 375px){

    #logo_svg{
        margin-left: -14px;
        width: 189px;
        height: auto;
        margin-top: 16px;
    }

    #btn_continent{
        width: 375px;
        
    }

    #btn_continent p{
        font-size: 21px;
    }

    .titre{
        font-size: 35px !important;
    }
  
  }

@media  (min-width: 376px) and (max-width: 645px){
   
    #logo_svg{
        margin-left: -14px;
        width: 189px;
        height: auto;
        margin-top: 20px;  
    }

    .titre{
        font-size: 39px !important;
        margin-top: 130px;
    }

    #list_continent{
        border-radius: 113px 113px 0 0;
    }

}
  
@media  (min-width: 320px) and (max-width: 410px){
   
    .titre{
        font-size: 39px !important;
        margin-top: 130px;

    }

    #list_continent{
        border-radius: 56px 56px 0 0;
    }
}







