/* CSS pour la page mentions légales et ou partir */

@import url(font.css);

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
   
}

header{
    background-image:linear-gradient(52deg, rgba(0, 0, 0, 0.486) 100%, rgba(0,0,0,0.3253502084427521)), url(../IMG/home_page_min_2.webp);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}


nav{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.burguer{
    width: 50px;
    height: auto;
    display: none;
    cursor: pointer;
    
 
}

#bar1{
    float: right;
    width: 25px;
    height: 4px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 100px;
}

#bar2{  
    margin-top: 8px;
    float: right;
    width: 35px;
    height: 4px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 100px;
}

#logo_svg{
    width: 300px;
    height: auto;
    color: #ffffff;
    margin-bottom: 18px;
}

.menu_nav{
    width: 840px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     color: white;
     font-size: 20px;
}

.menu_nav_open{
    flex-direction: column;
    position: absolute;
    background-color: rgba(19, 16, 16, 0.6);
    width: 100%;
    height: 200px;
    top: 101px;
    padding: 30px 0 30px 0;
    transition: 0.5s;
}

.menu_nav p a{
    color: #ffffff;
     font-family: 'Open Sans', sans-serif; 
}

h1{
    color: white;
    font-size: 90px;
    text-align: center;
    margin-top: 50px;
}

h1, h2{
    font-family: 'Playfair Display', serif;
    
}

h2{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #142639;
}

p{
    font-family: 'Open Sans', sans-serif; 
    line-height: 30px;
}


section{
    width: 1200px;
    height: 100%;
    margin-left: auto;
            margin-right: auto;
    
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 16px;
    border: none;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.589);
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color:#fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #142639;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color:  #142639;;}

footer{
    width: 100%;
    min-height: 150px;
    max-height: auto;
    background-color: #142639;
    display: flex;
    align-items: center;
    
    justify-content: space-around;
}

ul{
     margin-right: 60px;

}

a{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif; 
}

.logo{
    width: 200px;
    height: auto;
}




@media (max-width: 1200px){
        section{
            width: 800px;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
        }
}

@media (max-width: 800px){
    section{
        width: 90%;
        height: 100%;
        
    }
}

@media (max-width: 800px){
        footer{
            flex-direction: column;
            padding-bottom: 50px;
        }

        ul{
            margin-top: 0;
            margin-right: 0;
            text-align: center;
        }
        li{
            padding-bottom: 10px;
        }
}







@media (max-width: 1100px) {
    
    
    .burguer{
        display: block;
    }
    .menu_nav{
        flex-direction: column-reverse;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.589);
        width: 100%;
        height: 200px;
        top: -264px;
        padding: 30px 0 30px 0;
        transition: 0.5s;
    }
    .menu_nav_open{
        flex-direction: column-reverse;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.589);
        width: 100%;
        height: 300px;
        top: 101px;
        padding: 30px 0 30px 0;
        transition: 0.5s;
    }

  }

  @media (max-width: 700px){
        h1{
            font-size: 50px;
        }
  }



  @media (max-width: 375px){

    #logo_svg{
        margin-left: -53px;
        width: 220px;
        height: auto;
    }
  }

@media (min-width: 376px) and (max-width: 645px){
   
    #logo_svg{
        margin-left: -53px;
        width: 220px;
        height: auto;
    }
}