nav{
    background-color: #142639;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.accordion{
    max-width: 800px;

}

.accordion .contentBx {
    position: relative;
    margin: 10px 20px;
    font-family: 'Open Sans', sans-serif; 
}

.accordion .contentBx .label{
    position: relative;
    color: #fff;
    cursor: pointer;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
}

.accordion .contentBx .label p{
    margin-top: 70px;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
}

.tap {
    
    background-color: #142639;
    width: 100%;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.content{
    font-family: 'Open Sans', sans-serif; 
    position: relative;
    background-color: #fff;
    height: 0px;
    overflow: hidden;
    transition: 0.3s;
    overflow-y: auto;
    text-align: justify;
    border: solid 0.5px #142639;
    line-height: 32px;

}

.accordion .contentBx.active .content{
    height: 230px;
    padding: 20px;
}

.bigbox{
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


footer{
    margin-top: 50px;
}

h1{
    color: #142639;
    padding-bottom: 50px;
}


.img{
    width: 13px;
    height: auto;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: 0.2s;
}

.accordion .contentBx.active .img{
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    transition: 0.2s;
}


