* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  height: 242vh;
  overflow-x: hidden;
  
}

html{
  width: 100%;
  height: 242vh;
  overflow-x: hidden;
  
}



.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  overflow: hidden;
  background-color: rebeccapurple;
  z-index: -1;
}

.background img {
  height: 100%;
  width: 100%;
}

table{
  margin-top: 35px;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

table,
td {
    border: 1px solid #333;
}

td{
  padding: 15px;
}

thead,
tfoot {
    background-color: #142639;
    color: #fff;
}

#btnlien2{
  display: none;
} 

#btnlien3{
  display: none;
} 

#btnlien4{
  display: none;
} 


.side-indicator {
  height: 70%;
  top: 15%;
  left: 0;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: space-evenly;
  display: none;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #afbad3;
  opacity: 0.7;
}

.index {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #afbad3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.7s ease, width 0.7s ease;
}

.index p {
  opacity: 0;
  color: white;
  font-size: 10px;
  font-weight: bold;
  z-index: 9;
}

.active {
  height: 30px;
  width: 30px;
}


.active p {
  opacity: 1;
  font-size: 16px;
}

.content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-wrapper {
  width: 60%;
}

.text {
  padding-left: 300px;
  padding-right: 100px;
}

#title {
  overflow: hidden;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.text h4 {
  font-family: "Oswald";
  font-size: 120px;
  color: white;
  position: relative;
}

#description {
  overflow: hidden;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#description p {
  color: white;
  font-size: 12px;
  max-height: 55px;
  opacity: 0.8;
  position: relative;
}

.btn {
  width: 250px;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  margin-top: 60px;
  border: solid 2px #ffffff;
  justify-content: space-evenly;
  cursor: pointer;
  position: relative;
  z-index: 999;
}

.btn p {
  color: white;
  font-size: 18px;
}

.btn i {
  color: white;
}

.glide {
  width: 40%;
}

.glide_cover{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
  cursor: default;
}

.slide {
  height: 500px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
  flex-shrink: 0;
}

.slider-image {
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
}

.glide__slide--active .slider-image {
  height: 400px;
}

.slider-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pp1{
  margin-bottom: 17px;
}

.slide p {
  color: white;
  font-size: 14px;
}

.rating {
  display: flex;
  width: 60px;
  padding: 8px 0;
  justify-content: space-between;
}

.circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
  opacity: 0.5;
}

.active {
  opacity: 1;
}

.bookmark {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}

.controls {
  width: 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
  /* CHANGEMENT ICI */
  top: 24px;
  z-index: 999;
}

.controls div {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  transition: all 0.5s;
}

.controls div:active {
  transform: scale(0.6);
}

.controls i {
  color: gray;
  font-size: 12px;
  cursor: pointer;
}

.section_2{
  width: 100%;
  height: auto;
  background-color: #ffffff;
  position: absolute;
  margin-top: calc(100vh - 69px);
  padding-bottom: 100px;
}

.formalite{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.formalite div{
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: space-between;

}

.formalite div img {
  width: 50px;
  height: auto;
}

.text_formalité{
  width: 800px;
  margin-top: 50px;
}


@media (max-width: 1244px){
  .formalite{
    flex-direction: column;
  }
  .formalite div{
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: center;
  }
  .formalite div p{
    text-align: center;
  }
  .btn_formalite img, .btn_formalite_1 img, .btn_formalite_2 img, .btn_formalite_3 img {
      display: none;
  }
  .text_formalité{
    width: 90%;
    
  }

 
}

.iframe_box{
width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
padding-top: 100px;
padding-bottom: 100px;
flex-direction: column;
}

.btn_formalite, .btn_formalite_1, .btn_formalite_2, .btn_formalite_3{

cursor: pointer;
border: solid 2px  #142639;
padding: 15px;
}

.iframe_item{
height: 0;
width: 0;

}

.iframe_item_1{
height: 0;
width: 0;

}

.iframe_item_2{
height: 0;
width: 0;

}

.iframe_item_3{
height: 0;
width: 0;

}

.barbar{
width: 90.3%;
height: 3px;
background-color: #142639;
}


.iframe_item_open{
height: 700px;
width: 90%;
border-bottom: solid 3px  #142639;
border-left: solid 3px  #142639;
border-right: solid 3px  #142639;
}





.btn_devis{
  background-color: transparent;
  border: solid 2px #001021;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  width: 200px;
  height: 45px;
  margin-top: 20px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  z-index: 999;
  position: relative;
  cursor: pointer;
}

.section_2 h1{
  margin-top: 50px;
}

.title_bar{
  width: 90%;
  height: auto;
  margin: auto;
}

#japon_content{
  display: none;
}

#inde_content{
  display: none;
}

#vietnam_content{
  display: none;
}


.formalite a{
  z-index: 999;
  color: #000000;
}


/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 20px;
  padding: 16px;
  border: none;
  font-family: 'Open Sans', sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
}

/* Links inside the dropdown */
.dropdown-content a {
  color:#fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Open Sans', sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #142639;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color:  #142639;;}


.fondu_noir{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000088;
}



/* LOADER */

.loader{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #142639;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lettre{
  color: #142639;
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation : flash 1.2s linear infinite;
  font-weight: bold;
}

@keyframes flash{
  0%{
    color: #62C7E6;
    text-shadow: 0 0 7px #62C7E6;
  }
  90%{
    color: #142639;
    text-shadow: none;
  }
  100%{
    color: #62C7E6;
    text-shadow: 0 0 7px #62C7E6;
  }
}


.fondu-out{
  display: none;
  transition: opacity 0.4s ease-out;
  z-index: 1;
  transition: 1s;
}

footer{
  width: 100%;
  min-height: 150px;
  max-height: auto;
  background-color: #142639;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -128px;
  justify-content: space-around;
}

.ul{
   margin-right: 60px;

}

a{
  color: #ffffff;
  font-family: 'Open Sans', sans-serif; 
}

.logo{
  width: 200px;
  height: auto;
}


@media (max-width: 800px){
  footer{
      flex-direction: column;
      padding-bottom: 50px;
      position: absolute;
      bottom: -304px;
  }

  .ul{
      margin-top: 0;
      margin-right: 0;
      text-align: center;
  }
  .ul li{
      padding-bottom: 10px;
  }
}


















/* css glide gallery photo */

.slider{
  width: 100%;
  height: 500px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  
}

.swiper-container {
  width: 100%;
  height: 497px;
  margin: 20px auto;
}



.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  
  /* Center slide text vertically */
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  
  border-radius: 15px;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons a {
  display: inline-block;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}



/* css nullet point */


.favo div{
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: solid 2px #142639;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.favo div div{
  width: 12px;
  height: 12px;
  background-color: #142639;
  border-radius: 50%;
  padding: 0;
  margin: 0 !important;
}

.favo__point{
 
  width: 375px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10%;
  margin-top: 50px;
}

.favo, .defavo{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.defavo div{
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: solid 2px #142639;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}


/* css section mois meteo */


.info__mois{
  width: 100%;
  
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mois{
  max-width: 1000px;
  width: auto;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.meteo{
  width: auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.month{
  border: solid 2px #2C4250;
  width: 143px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
}

.color{
  background-color: #142639;
  color: #ffffff;
  border-color: transparent;
  font-weight: bold;
}


.uncolor{
  background-color: #ffffff;
  color: #142639;
  font-weight: bold;
  
}


@media (min-width: 645px) and (max-width: 1237px){

  .swiper-container{
      height: 75%;
  }
  
}

@media (min-width: 320px) and (max-width: 644px){

  .swiper-container{
    height: 44%;
}

}

@media (min-width: 320px) and (max-width: 644px){
  .swiper-container{
    height: 53%;
}
}








@media (min-width: 320px) and (max-width: 1237px){

  .meteo{
    display: none;
  }

  .slider-image img {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }

  .mois{
    width: 100%;
  }

  .mois button{
    margin-top: 10px;
  }

  #btn_devis{
    margin-top: 200px;
    
  }

  .text_formalité{
    text-align: justify;
    padding: 24px;
    font-size: 13px;
  }
  .info__mois{
    padding-bottom: 30px;
    
  }

  .favo__point{
    margin-left: auto;
    margin-right: auto;
    width: 320px;
  }

  .pp1{
    margin-bottom: 0;
  }


}


@media (min-width: 320px) and (max-width: 853px){

  .mois{

    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  #title{
    margin-bottom: -20px;
  }

  .text{
    /* CHANGEMENT ICI */
    padding-right: 19px;
  }

  .glide{
    padding-left: 24px;
    padding-top: 15px;
  }

}
















































@media (min-width: 320px) and (max-width: 372px){
    .title h4{
      font-size: 103px;
      width: 320px;
    }
}








@media  only screen and (max-width: 1600px){
 
  .side-indicator {
    width: 200px;
  }
  .text-wrapper {
    width: 50%;
  }
  .glide {
    width: 50%;
  }
  .text {
    /* CHANGEMENT ICI */
    padding-left: 24px;
  }
  .text h4 {
    transform: scale(0.8);
    transform-origin: left;
  }
  .btn {
    width: 157px;
  }
  .btn p {
    font-size: 14px;
  }
  .meteo{
    display: none;
  }
}

@media  only screen and (max-width: 1300px){
  
  .text h4 {
    transform: scale(0.6);
    transform-origin: left;
  }
  .slide {
    height: 400px;
    width: 220px;
  }
}

@media  only screen and (max-width: 1200px){
  .side-indicator {
    width: 120px;
  }
  .text{
    padding-left: 24px;
    padding-top: 50px;
  }
  .content {
    flex-direction: column;
  }
  .text-wrapper {
    width: 100%;
  }
  .glide {
    width: 100%;

    /* CHANGEMENT ICI */
    padding-left: 24px;
    padding-top: 15px;
  }
  .btn {
    margin-top: 30px;
  }
  .slide {
    height: 300px;
    width: 200px;
  }
  .slider-image {
    height: 220px;
  }
  .slide p {
    font-size: 12px;
  }
}



















nav{
  position: relative;
  z-index: 999;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.burguer{
  width: 50px;
  height: auto;
  display: none;
  cursor: pointer;
  

}

#bar1{
  float: right;
  width: 25px;
  height: 4px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 100px;
}

#bar2{  
  margin-top: 8px;
  float: right;
  width: 35px;
  height: 4px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 100px;
}

#logo_svg{
  width: 300px;
  height: auto;
  color: #ffffff;
  margin-bottom: 18px;
}

.menu_nav{
  width: 820px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: white;
   font-size: 20px;
}

.menu_nav_open{
  flex-direction: column-reverse;
  position: absolute;
  background-color: rgba(19, 16, 16, 0.6);
  width: 100%;
  height: 300px;
  top: 71px;
  padding: 30px 0 30px 0;
  transition: 0.5s;
}

.menu_nav p a{
  color: #ffffff;
   font-family: 'Open Sans', sans-serif; 
}


@media (max-width: 1100px) {
  
  
  .burguer{
      display: block;
  }
  .menu_nav{
      flex-direction: column;
      position: absolute;
      background-color: rgba(19, 16, 16, 0.76);
      width: 100%;
      height: 200px;
      top: -264px;
      padding: 30px 0 30px 0;
      transition: 0.5s;
  }
  .menu_nav_open{
    flex-direction: column-reverse;
      position: absolute;
      background-color: rgba(19, 16, 16, 0.76);
      width: 100%;
      height: 300px;
      top: 101px;
      padding: 30px 0 30px 0;
      transition: 0.5s;
  }

}

@media (max-width: 375px){

  #logo_svg{
      margin-left: -53px;
      width: 220px;
      height: auto;
  }
}

@media (min-width: 376px) and (max-width: 645px){
 
  #logo_svg{
      margin-left: -53px;
      width: 220px;
      height: auto;
  }
  .lettre{
    color: #142639;
    font-size: 40px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation : flash 1.2s linear infinite;
    font-weight: bold;
  }
  
}

@media (min-width: 320px) and (max-width: 378px){

  .slider-image img {
    width: 68%;
    height: 68%;
    object-fit: cover;
  }

  .controls{
    top: -43px;
  }
  .lettre{
    color: #142639;
    font-size: 40px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation : flash 1.2s linear infinite;
    font-weight: bold;
  }
}




